body {
  background-color: blue;
}
h1 {
  background-color: black;
  color: red;
}
p {
  background-color: aqua;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* background-color: violet; */
}
.img {
  border: 2px solid black;
  width: 40%;
  height: 50vh;
}
